[submodule "client"]
	path = client
	url = ../client
[submodule "db-snapshot"]
	path = db-snapshot
	url = ../db-snapshot
[submodule "third_party/openmrs-module-sync"]
	path = third_party/openmrs-module-sync
	url = git@github.com:openmrs/openmrs-module-sync.git
