*.class
.classpath
.settings
.project
.gitignore
.idea
api/projectbuendia.openmrs-api.iml
omod/projectbuendia.openmrs-omod.iml
openmrs-project/openmrs-project.iml
openmrs-project/server/openmrs-project-server.iml
openmrs-project/target
projectbuendia.openmrs.iml
target
projectbuendia.openmrs/api/target
projectbuendia.openmrs/omod/target
projectbuendia.openmrs/openmrs-project/server/openmrs
projectbuendia.openmrs/openmrs-project/server/target
projectbuendia.openmrs/api/projectbuendia.openmrs-api.iml
projectbuendia.openmrs/omod/projectbuendia.openmrs-omod.iml
projectbuendia.openmrs/openmrs-project/openmrs-project.iml
projectbuendia.openmrs/openmrs-project/server/openmrs-project-server.iml
