[Unit]
Description=Debian: initialize and execute startup scripts

# Let startup scripts run indefinitely (TimeoutSec=0), as they can include
# package installations and upgrades.

[Service]
Type=simple
TimeoutSec=0
ExecStartPre=/usr/local/bin/init-debian
ExecStart=/usr/local/bin/enter-debian /etc/init.d/rc 2
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
