[Unit]
Description=Debian: mount special filesystems and execute startup scripts

[Service]
Type=forking
ExecStartPre=/usr/local/bin/init-debian-mounts
ExecStart=/usr/local/bin/enter-debian /etc/init.d/rc 2
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
