[Unit]
Description=Buendia base install service
Requires=dev-disk-by\x2dpartlabel-home.device dev-disk-by\x2dpartlabel-update.device
After=dev-disk-by\x2dpartlabel-home.device dev-disk-by\x2dpartlabel-update.device

[Service]
ExecStart=/bin/sh -c '/usr/local/bin/install-buendia-base | /usr/bin/tee -a /var/log/install-buendia-base.log'
TimeoutStartSec=1800
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
