<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright 2015 The Project Buendia Authors

    Licensed under the Apache License, Version 2.0 (the "License"); you may not
    use this file except in compliance with the License.  You may obtain a copy
    of the License at: http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software distributed
    under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES
    OR CONDITIONS OF ANY KIND, either express or implied.  See the License for
    specific language governing permissions and limitations under the License.
-->
<module configVersion="1.2">

  <!-- Module Properties -->
  <id>${project.parent.artifactId}</id>
  <name>${project.parent.name}</name>
  <version>${project.parent.version}</version>
  <package>${project.parent.groupId}.${project.parent.artifactId}</package>
  <author>jonskeet@google.com</author>
  <description>
    ${project.parent.description}
  </description>
  <updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf
  </updateURL>
  <require_version>${openMRSVersion}</require_version>
  <require_modules>
    <require_module version="${webservicesRestVersion}">org.openmrs.module.webservices.rest
    </require_module>
    <require_module version="${xformsVersion}">org.openmrs.module.xforms</require_module>
  </require_modules>
  <!-- / Module Properties -->

  <!-- Required Global Properties -->
  <globalProperty>
    <property>projectbuendia.chartUuids</property>
    <defaultValue></defaultValue>
    <description>UUIDs of forms listed as charts by the REST endpoint. (Comma-separated.)
    </description>
  </globalProperty>
  <globalProperty>
    <property>projectbuendia.currentProfile</property>
    <defaultValue></defaultValue>
    <description>
      Name of the currently active profile, which defines the forms and UI customizations for the
      Buendia app.
      This should be the name of a file in /usr/share/buendia/profiles (including the .csv
      extension).
    </description>
  </globalProperty>

  <!-- Module Activator -->
  <activator>org.projectbuendia.openmrs.ProjectBuendiaActivator</activator>

  <!-- Adds link to admin page -->
  <extension>
    <point>org.openmrs.admin.list</point>
    <class>org.projectbuendia.openmrs.extension.html.AdminList</class>
  </extension>

  <!-- Maps hibernate files, if present -->
  <mappingFiles>
    ProjectBuendia.hbm.xml
  </mappingFiles>

  <!-- Internationalization -->
  <!-- All message codes should start with ${project.parent.artifactId}. -->
  <messages>
    <lang>en</lang>
    <file>messages.properties</file>
  </messages>
  <messages>
    <lang>fr</lang>
    <file>messages_fr.properties</file>
  </messages>
  <messages>
    <lang>es</lang>
    <file>messages_es.properties</file>
  </messages>
  <!-- /Internationalization -->

  <!-- Servlets -->
  <!-- Accessed through the url /pageContext()/moduleServlet/<servlet-name> -->
  <servlet>
    <servlet-name>buendiadata</servlet-name>
    <servlet-class>org.openmrs.projectbuendia.servlet.DataExportServlet</servlet-class>
  </servlet>

</module>

