/* Page globals */

body {
    font-family: helvetica, arial;
    line-height: 1.4;
    color: #466;
    background: #cdd;
    margin: 2em 2em;
}

/* Type sizes */

body { font-size: 18px; }
h1, .action { font-size: 24px; }
#state { font-size: 12px; }

/* Type weights */

body { font-weight: 400; }
h1 { font-weight: 300; }

/* Type colour and decoration */

.advanced { opacity: 0.5; }
a { color: inherit; }
a:hover { color: #000000; }
.clickable { cursor: pointer; }

/* Layout */

h1 { margin: 0; }
section { margin: 1em 0; }
section#state { margin: 0; }
#state div, #state span { margin: 0; }
#app { padding: 2em 0; }
div { margin: 1em 0; white-space: nowrap; }

ul.inline { display: inline; padding: 0; }
ul.inline li { display: inline; }
ul.inline li:before { content: '\a0\b7\a0'; }
ul.inline li:first-child:before { content: ''; }

.action {
     margin: 0;
     padding: 1.1em 2em 1em 2em;
     border: 2px solid #466;
     border-radius: 6px;
}
a.action { text-decoration: none; }
.action:hover { background: #eff; cursor: pointer; }
